h1{
  color: rgb(255, 0, 0);
  text-align: left;
  /* text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-style: solid;
  text-decoration-thickness: 10px; */
  text-decoration:violet double underline 2px;
  text-transform: capitalize;
  word-spacing: 25px;
  text-shadow: 3px 3px 4px black;
}

p{
  text-indent: 100px;
  letter-spacing: 10px;
  line-height: 2;
}

#absolute{
  height: 100px;
  width: 500px;
  background-color: blueviolet;
}

.relative{
  height: 30vh;
  width: 50vw;
  background-color: crimson;
}

.percentage{
  width: 50%;
  height: 50%;
  background-color: black;
}

.border{
  border-style: solid;
  border-width: 3px;
  /* border-color: red; */
  border-top-color: blue;
  border-bottom-color: red;
  padding: 30px;
  margin: 30px;
}

.border-round{
  border: 6px solid red;
  border-radius: 25px;
  padding-left: 30px;
  margin-left: 30px;
}

.solid-border{
  border: 2px solid black;
}

.inline-block{
  height: 50px;
    width: 300px;
    display: inline-block;
}

.block{
  display: block;
}

.container{
  height: 300px;
  border: 3px solid red;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.box{
  width: 150px;
  height: 100px;
  border: 3px solid blue;
}