.label{
  font-size: 20px;
  display: inline-block;
  width: 200px;
}

.inputbox{
  font-size: 18px;
  width: 250px;
}

.space{
  margin-top: 10px;
}

.eye-icon{
  width: 35px;
  margin-left: 15px;
  cursor: pointer;
}

.mail-wrapper{
  height: 98vh;
}

.mail-header{
  height: 10%;
  border: 3px solid red;
}

.content-section{
  height: 90%;
  border: 2px solid red;
  display: flex;
    flex-direction: row;
}

.sidebar{
  width: 20%;
    border: 3px solid red;
}

.middle-section{
  width: 80%;
    border: 3px solid red;
}